<div class="row col-lg-8 col-md-6 col-xs-10 col-lg-offset-2 col-md-offset-3 col-xs-offset-1">
	<% if @store.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
 			 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 			 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
 			 <strong>Oops!</strong>
 			  <% for message in @user.errors.full_messages %>
		  		<li><%= message %></li>
			  <% end %>
		</div>
	<% end %>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title"><%= t('sign_up') %></h3>
  		</div>


	  	<div class="panel-body">
			<%= form_for @store, :html => { :class => 'form-horizontal' } do |f| %>
				<p class="bg-primary" style="padding:5px 10px"><%= t('business_info') %></p>
			    <div class="form-group">
			        <%= f.label t('business_number') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :number , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('business_name') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :name , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
              <%= f.label t('phone') , :class => 'col-sm-3 control-label' %>
              <div class="col-sm-9">
                  <%= f.text_field :phone , :class => 'form-control', :required => true, :type => "phone"  %>
              </div>
          </div>

			    <div class="form-group">
			        <%= f.label t('address') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :address , :class => 'form-control', :required => true%>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('email') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :email , :class => 'form-control', :required => true %>
			        </div>
			    </div>

			    <div class="form-group">
			        <%= f.label t('city') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :city , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('postal_code') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :postal_code , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('province') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :province , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('country') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :country , :class => 'form-control', :required => true %>
			        </div>
			    </div>

					<p class="bg-info" style="padding:5px 10px"><%= t('owner_info') %></p>

          <div class="form-group">
			        <%= f.label t('name') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_name , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('phone') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_phone , :class => 'form-control', :required => true, :type => "phone"  %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('city') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_city , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('postal_code') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_postal_code , :class => 'form-control', :required => true %>
			        </div>
			    </div>

          <div class="form-group">
			        <%= f.label t('province') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_province , :class => 'form-control', :required => true %>
			        </div>
			    </div>
          <div class="form-group">
			        <%= f.label t('country') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :owner_country , :class => 'form-control', :required => true %>
			        </div>
			    </div>
					<p class="bg-warning" style="padding:5px 10px"><%= t('login_info') %></p>

          <div class="form-group">
			        <%= f.label t('username') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.text_field :username , :class => 'form-control', :required => true %>
			        </div>
			    </div>
          <div class="form-group">
			        <%= f.label t('password') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.password_field :password , :class => 'form-control', :required => true %>
			        </div>
			    </div>
          <div class="form-group">
			        <%= f.label t('password_confirmation') , :class => 'col-sm-3 control-label' %>
			        <div class="col-sm-9">
			            <%= f.password_field :password_confirmation , :class => 'form-control', :required => true %>
			        </div>
			    </div>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<b><%= link_to "By registering, I agree to terms and conditions", terms_and_conditions_path %></b>
						</div>
					</div>


			    <div class="form-group">
			        <div class="col-sm-offset-3 col-sm-9">
			            <%= submit_tag t('register') , :class => 'btn btn-primary' %>

			            <%= link_to t('cancel'), root_url, :class => 'btn btn-default' %>
			        </div>
			    </div>
			<% end %>
		</div>
  	</div>
</div>
