<div class="row col-xs-12">
  <h4 class="text-center"><%= t('api_key') %>: <kbd><%= @store.api_key %></kbd></h4>
  <br />
  <h3><%= t('how_to_use_api') %></h3>
  <ul>
    <li><%= t('how_to_use_api_step_1') %></li>
    <li><%= raw t('how_to_use_api_step_2') %></li>
      <ul>
        <li><%= raw t('how_to_use_api_step_2_1') %></li>
        <li><%= raw t('how_to_use_api_step_2_2') %></li>
      </ul>
  </ul>
  <br />
  <h5 class="text-muted"><%= t('how_does_response_look_like') %></h5>
  <ul>
    <li><%= raw t('how_does_response_look_like_step_1') %></li>
    <li><%= raw t('how_does_response_look_like_step_2') %><li>
        <pre>
          {
              "first_name": "John",
              "last_name": "Doe",
              "email": "john@doe.com",
              "phone": "1112221111",
              "date_of_birth": "1/11/1981,
              "address": "#1, Xyz St.",
              "city": "Xyz",
              "postal_code": "XXX YYY",
              "province": "XYZ",
              "country": "ABC"
            }
        </pre>
    <li><%= raw t('how_does_response_look_like_step_3') %></li>
      <pre>
        {
          "error": "error occured"
        }
      </pre>
  </ul>
</div>
