<div class="col-xs-12">
  <h3> <%= t('your_loyard_id') %> <kbd><%= @user.loyard_id %></kbd></h3>
  <br />
  <% if @user.transactions.any? %>
  <table class="table table-striped">
    <thead>
        <tr>
          <th><%= t('date') %></th>
          <th><%= t('business_name') %></th>
          <th><%= t('address') %></th>
        </tr>
    </thead>
    <tbody>
      <% @user.transactions.each do |t| %>
      <tr>
        <td><%= t.created_at.to_formatted_s(:long) %></td>
        <td><%= t.store.name %></td>
        <td><%= t.store.address %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div class="well">
        <h3 class="text-center"><%= t('no_transactions_to_show') %></h3>
    </div>
  <% end %>
</div>
