@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom_tabs";
@import "custom_styles";
@import url(https://fonts.googleapis.com/css?family=Raleway|Poiret+One|Material+Icons);
@import "welcome";

.v-middle {
  vertical-align: text-bottom;
}

.panel {
  opacity: .95;
}

.box {
  position: fixed;
  bottom: 0;
  text-align: right;
  padding-right: 15px;
  width: 100%;
}
