// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar navbar-default {
  opacity: .8;
}

body#welcome.index, body#sessions {
  background-image: url(<%= asset_path('background.jpg') %>);
  background-size: cover;
  margin-top: 50px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Poiret One', cursive;
}

.muted {
  color: silver;
}


.special-link a {
    text-decoration: underline;
    color: gray;
}
