<!DOCTYPE html>
<html>
<head>
  <title>Loyard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="<%= controller_name %>" class="<%= action_name %>">
  <div class="container">

    <div class="row col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1">
            <% flash.each do |k, v| %>
                <div class="alert alert-<%= k %> text-center alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= v %></div>
         <% end %>
       </div>
    <%= yield %>
  </div>
  <div class="box">
    <%= link_to "English", "#", :class => "change_locale", :'data-locale' => 'en' %> | <%= link_to "Français", "#", :class => "change_locale", :'data-locale' => 'fr' %>
  </div>
</body>
</html>
